.about {
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
    text-align: center;
    font-style: italic;
}

.about h1 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #333;
}

.about h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #333;
}

.about p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 30px;
    color: #666;
    line-height: 40px;
}

.about .services {
    margin-bottom: 50px;
}

.about .why-choose-us {
    margin-bottom: 50px;
}

.about .customer-attraction {
    margin-bottom: 50px;
}

.about .service-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.about .service-list li {
    margin: 10px;
    padding: 20px 10px 10px 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 250px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about .service-list li h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #333;
}

.about .why-choose-us .left {
    float: left;
    width: 50%;
    padding-right: 20px;
    box-sizing: border-box;
}

.about .why-choose-us .right {
    float: left;
    width: 50%;
    padding-left: 20px;
    box-sizing: border-box;
}

.about .why-choose-us p {
    margin-bottom: 100px;
    line-height: 40px;
}

.about .customer-attraction ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.about .customer-attraction ul li {
    margin-bottom: 10px;
}

.about .customer-attraction ul li:before {
    content: '\2022';
    color: #999;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.about .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff5e28;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.about .button:hover {
    background-color: #ff3e00;
}

.about span {
    width: 56%;
    margin: 30px auto;
    font-size: 23px;
    color: #ffb04b;
    text-align: center;
    line-height: 40px;
    font-style: italic;
    font-weight: 400;
}