/* Main content styles */
.main-content {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}


/* Slideshow styles */
.slideshow {
    position: relative;
    overflow: hidden;
}

.slides {
    display: flex;
    animation: slide 30s linear infinite;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-100%);
    }

    45% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(-200%);
    }

    70% {
        transform: translateX(-200%);
    }

    75% {
        transform: translateX(-300%);
    }

    95% {
        transform: translateX(-300%);
    }

    100% {
        transform: translateX(0);
    }
}

.pic {
    flex-shrink: 0;
    width: 100%;
    height: auto;
}

.slides input {
    display: none;
}



/* About text styles */
#about_text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 0 20px 0;
    margin: 0 80px 0 80px;
}

#about_text h3 {
    text-align: center;
}

#about_text .text {
    color: #636262;
}

#items-text {
    display: flex;
    justify-content: center;
    align-items: center;
}


/*AlL items text*/
#items-text h3 {
    text-align: center;
    font-size: 30px;
}

#items-text p {
    text-align: center;
    color: #636262;
}

#dash {
    margin: 0 30% 0 30%;
}

/*Card items*/
#items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#items-container .card {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 20px;
    width: 180px;
    text-decoration: none;
    color: #000;
    /*size of card*/
    display: inline-block;
}

#items-container .card .footer_card {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}

#items-container button {
    padding: 9px 10px 9px 10px;
    margin-top: 10px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #636262;
    color: #636262;
    cursor: pointer;
    z-index: 1;
    position: relative;
    outline: none;
    transition: all 0.25s ease-in-out;
}

#items-container button:hover {
    border: 1px solid lightgray;
    color: lightgray;
    background-color: #aaa;
}


#items-container .card img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

#items-container .card h3 {
    font-weight: normal;
    margin-bottom: 5px;
}

#items-container .card p {
    font-weight: bold;
    font-size: 1.2em;
}

.card:hover {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
}


